
/* Big tablet to 1200px: width small than the1140px row*/
@media only screen and (max-width: 1200px) {

    .hero-text-box {
        width: 100%;
        padding: 0 4%;
        transform: translate(-50%,-50%);
    }
    .row { padding: 0 4%; }
}

/* Small tablet to  big tablet: 767px to 1023px   */
@media only screen and (max-width: 1023px) {

    /* Initial font size is 20px */
    body { font-size: 18px; } 
    section { padding: 60px 0; }
    .long-copy { 
        width: 80%; 
        margin-left: 10%;
    }
    
    .steps-box { margin-top: 30px;}
    .steps-box:last-child { margin-top: 30px;}
    /* .works-step { margin-bottom: 40px;} */
    /* .works-step:last-of-type { margin-bottom: 60px;}  */

    .app-screen { width: 50%; };

    .btn-app img {
        height: 40px;
        width: auto;
    }
    .btn-app img:last-child {
        margin: 0;
    }

    .icon-small { 
        width: 15px;
        margin-right:5px
    }
    .city-feature { font-size:84%;}

    .plan-price {
        font-size: 270%;
    }
    .plan-box ul li {
        
        font-size: 85%;
    }

    .btn:link, 
    .btn:visited{   
        padding: 10px 20px;
        font-size: 80%;
    }

    .contact-form {
        width: 90%;
    }
    

}

/* Small phones to small tablet : 481px to 767px  */
@media only screen and (max-width: 767px) {

    /* General CSS */
    body { font-size: 15px;}
    section { padding: 30px 0;}
    .row,
    .hero-text-box {
        padding: 0 4%;
    }
    .col { 
        width: 100%; 
        margin: 0 0 4% 0;
    }

    .main-nav { display: none;}

    .mobile-nav-icon {
        display: inline-block;
    }
    .main-nav {
        float: left;
        margin-top: 35px;
        margin-left: 25px;
    }
    .main-nav li{
        display: block;
        
    }
    .main-nav li a:link,
    .main-nav li a:visited{
        display: block;
        padding: 10px 0;
        font-size: 120%;
    }
    .main-nav li a:hover{
        /* border: none;  */
    }
    

    .sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.95);
        -webkit-box-shadow: 0 2px 2px #efefef;
                box-shadow: 0 2px 2px #efefef;
        z-index: 1;
    }


    .sticky .main-nav { margin-top: 10px; }

    .sticky .logo-black { 
        margin-top: 10px; 
        /* height: 70px; */
    }
    .sticky .mobile-nav-icon ion-icon {color: #555;}
    .sticky .mobile-nav-icon  { margin-top: 20px;}

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
        
        padding: 10px 0;
        
    }


    h1 {
        font-size: 200%;
        margin-left: 20px;
    }
    h2 {
        font-size: 150%;
    }
    h3{
        text-align: center;
        margin-bottom: 0;
    }
    /* Section 1 */
    .logo {
        margin-left: 20px;
        height: 70px;
        width: auto;
    }

    /* Section 2 */
    .box ion-icon{
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .box:last-child {
        margin-bottom: 40px;
    }
    .box p{
        width: 100%; 
        margin: 0;
        padding: 20px;
    }
    .btn:link,
    .btn:visited {
        margin-left: 20px;
    }
    .section-features .long-copy { 
        width: 100%; 
        margin: 0;
        padding: 20px;
        /* margin-bottom: 10px; */
     
    }

    /* Section 4 */
    .steps-box:first-child { 
        margin-top: 0px;
        text-align: center;

    }
    .steps-box:last-child { 
        margin-top: 30px;
    }
    .steps-box a:first-of-type img { 
        margin-right: 3%;
        margin-left: 10%;
        
    }
    .app-screen {
        width: 40%;

    }
    .works-step div{ 
        height: 40px;
        width: 40px;
        margin-right: 15px;
        margin-bottom: 30px;
        padding: 4px;
        font-size: 120%;
    }
    .works-step p {
        font-size: 18px;
    }
    .works-step:last-of-type { margin-bottom: 40px;} 

    /* Section 5 */

    .city-feature {
        width: 100%;
        font-size: 100%;
    }
    .icon-small {
        width: 20px;
    }
    .plan-price {
        font-size: 300%;
    }
    .plan-price-meal {
        
        font-size: 120%;
    }
    .plan-box ul li {
        
        font-size: 110%;
    }
    /* Footer Section */

    .footer-nav {
        font-size: 110%;
        float: none;
        text-align: center;
        margin-bottom: 30px;
    }
    .social-links {
        float: none;
        text-align: center;
        font-size: 110%;
    }


}

/* Small phones : 0 to 480px */
@media only screen and (max-width: 480px) {

    h2 {
        font-size: 120%;
        margin-left: 20px;
    }
    section { padding: 20px 0;}

    .contact-form { width: 100%;}

    .footer-nav {
        font-size: 80%;
        float: none;
        text-align: center;
        margin-bottom: 30px;
    }

    .footer-nav li{
        font-size: 120%;
        margin-right: 10px;
    }
}